#heading{
     border-left-color: green;
}

.main{
    width: 200px;
    background-color: purple;
    padding: 10px;
    border-style: solid;
    border-left-width: 5px;
    border-color: purple;
    font-size: 20px;
    color: white;
    font-weight: 300;
}
